################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnlineStore/OnlineStore/obj
/OnlineStore/.vs/OnlineStore/v17
/OnlineStore/.vs/OnlineStore/FileContentIndex
